@model IEnumerable<KUSYS_Demo.Core.Models.Student>

@{
    ViewData["Title"] = "Öğrenci Listesi";
    Layout = "_LayoutNew";
}



<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-header">
                <h3 class="card-title"></h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>StudentId</th>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Birthday</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.StudentId</td>
                                <td>@item.FirstName</td>
                                <td>@item.LastName</td>
                                <td>@item.Birthday.Value.ToString("dd.MM.yyyy")</td>
                                <td>
                                    <a type="button" target="_blank" class="btn btn-block btn-success btn-sm" href="/StudentCourses/Index/@item.StudentId"><i class="fas fa-edit"></i>Courses</a>
                                </td>
                                <td>
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a type="button" target="_blank" class="btn btn-block btn-warning btn-sm" href="/Students/Update/@item.StudentId"><i class="fas fa-edit"></i>Edit</a>
                                    }
                                </td>
                                <td><button type="button" id="detail" class="btn btn-block btn-info btn-sm" onclick="getDetail(@item.StudentId)"><i class="fas fa-eye"></i>Detail</button>
                                </td>
                                <td>
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <button type="button" class="btn btn-block btn-danger btn-sm" onclick="deleteStudent(@item.StudentId)"><i class="fas fa-trash"></i>Delete</button>
                                    }
                                </td>
                            </tr>
                        }

                    </tbody>
                    <tfoot>
                        <tr>
                            <th>StudentId</th>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Birthday</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Öğrenci Detay</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>First Name : <span class="firstname"></span></p>
                <p>Last Name : <span class="lastname"></span> </p>
                <p>Birthday : <span class="birthday"></span></p>
                <p>Username : <span class="userName"></span></p>
                <p>Email : <span class="email"></span></p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script src="~/WebCore/plugins/jquery/jquery.min.js"></script>

<script type="text/javascript">

         function getDetail(id) {
            $.ajax({
                type: "GET",
                url: "/Students/GetById?id=" + id,
                dataType: "json",
                encode: true,
            }).done(function (data) {
                $(".firstname").text(data.firstName);
                $(".lastname").text(data.lastName);
                $(".birthday").text(data.birthdayStr);
                $(".userName").text(data.userName);
                $(".email").text(data.email);
                $('#modal-default').modal('show');
            }).fail(function (data) {
                $(document).Toasts('create', {
                    class: 'bg-danger',
                    title: 'Fail!',
                    subtitle: '',
                    body: "Öğrenci Bilgileri Getirilirken Hata ile Karşılaşıldı!",
                    delay: 750,
                });
            });
         }
            


    function deleteStudent(studentId) {
        if (confirm("Silmek İstediğinizden Emin misiniz!") == true) {
            $.ajax({
                type: "DELETE",
                url: "/Students/Delete?studentId=" + studentId,
                dataType: "json",
                encode: true,
            }).done(function (data) {
                if (data.status == true) {
                    $(document).Toasts('create', {
                        class: 'bg-success',
                        title: 'Success',
                        subtitle: '',
                        body: data.message,
                        delay: 0,
                    });
                    location.reload();
                }
                else {
                    $(document).Toasts('create', {
                        class: 'bg-danger',
                        title: 'Fail!',
                        subtitle: '',
                        body: data.message,
                        delay: 750,
                    })
                }
            }).fail(function (data) {
                $(document).Toasts('create', {
                    class: 'bg-danger',
                    title: 'Fail!',
                    subtitle: '',
                    body: "Öğrenci Silerken Hata ile Karşılaşıldı!",
                    delay: 750,
                });
            });
        }
       
    }
</script>
